# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# artifacts
tsconfig2.json
.aws-sam

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

dist
.python-version
__pycache__
